<%- include ('./partial/_header.ejs') %> 
<br>
<center><h1>Radio Assist</h1></center>
<br>
<br>
<center>
<p>
    This is an AI radiology assistant. We hope to help radiologists make technology driven diagnoses and catch pathologies earlier.</p>
    <br><br>
    <h3>To all the radiologists out there. You are not alone.<h3>
</p></center>
</head>
</html>