<%- include ('./partial/_header.ejs') %> 
<br>
<h1>About the app</h1>
<br>
<h3>This is an AI radiology assistant.</h3>
<h3>We hope to help radiologists make technology driven diagnoses and catch pathologies earlier.</h3>
<h3>Users can upload xray images and get a diagnoses based on the image.</h3>
<br><br><br><br><br>
<h4>To all the radiologists out there. You are not alone.</h4>
<br><br><br><br><br><br><br><br><br>
<h5>Special thanks to Joseph Paul Cohen, Paul Bertin, and Vincent Frappier</h5>
</head>
</html>