<%- include('./partial/_profileheader') %>

<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Welcome <%= name %>!</p>
			<br>
		    <div class="form-group ">
			    <form id="form" method="post" enctype="multipart/form-data">
			        <h4>Upload your Xray to start diagnosis</h4>
				    <input type="file" name="xray" class="form-control" required><br />
		            <input type="submit" value="Upload" class="btn btn-success" >
			    </form>
		    </div>
        </div>
	</div>
</body>
</html>