<%- include('./partial/_header') %>

<body>
	<script src = "./javascript/image.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
	<script>
        function testVariable() {
			document.getElementById("myDiv").innerHTML +=<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6"><p>Testing render</p></div>
				<div class="col-sm-3"></div>
			</div>;
        }
    </script>
	


	<script type="text/javascript">
		$(document).ready(() => {

			$("#form").submit((event) => {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/data',
					data: $('#form').serialize(),
					dataType: "json",
					success: (response) => {
						$('#form')[0].reset();

						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(() => {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "Success!") {
							document.getElementById("predict").click();
						};
					},
					error: () => {
					}
				})
			});

		});
	</script>
	
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div>
			<p>Profile Details</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr>
						<td>Name </td>
						<td>
							<%= name %>
						</td>
					</tr>
					<tr>
						<td>Email </td>
						<td>
							<%= email %>
						</td>
					</tr>
				</table>
			</center>
		</div>
		<div class="abc" id="LangTable">
			<a href="/logout">Logout</a>
		</div>
		<br>
		<br>
		<br>

	</div>
	<div class="col-sm-2"></div>
</div>
	<div class="row">
		<div class="col-sm-3"></div>
	<div class="col-sm-6">
	<form id="form" enctype="multipart/form-data">
		
		<div class="row py-4">
			<div class="col-lg-20 mx-auto">
	
				<!-- Upload image input-->
				<div class="input-group mb-3 px-10 py-2 rounded-pill bg-white shadow-sm">
					<input id="upload" type="file" name="file" onchange="readURL(this);" class="form-control border-0">
					<!-- <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label> -->
					<!-- <div class="input-group-append">
						<label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
						
					</div> -->
					
				</div>
				
		  
		  <br>
		  <br>
		  <!--<p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>-->
		  <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
		  <br>
		  <input type="submit" onclick="testVariable" id="predict" value="Predict">	
	</div>
	<div class="col-sm-3"></div>
	</div>
	<div class="row"><p id ="myDiv"></p></div>
		
	<div class="col-sm-12">
		<span id="info" style="color:red"></span>	
		<center><div id="status" class="status"></div></center>
	</div>
	<!-- Uploaded image area-->
	<!-- <div class="col-sm-12">
		<div id="file-container" style="display: none">
			Process an image locally: <input type="file" id="files" name="files[]" multiple> 
		</div>
	</div> -->
	</form>	
	<div class="toolbar btn-group">
		<button class="btn btn-default btn-invert-colors" data-original-title="Invert colors">
		  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8 15V1a7 7 0 1 1 0 14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
		  </svg> Invert colors
		</button>
		<button class="btn btn-default btn-raw-gradients" data-original-title="raw gradients">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cpu" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
		  </svg> Raw Gradients
		</button>
		<button class="btn btn-default btn-reset-layers" data-original-title="reset layers">
			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layers" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z"/>
			<path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
		  </svg> Reset layers
		</button>
	</center>
</div>
<div class="col-xs-4">
	<center style=""><b>Pathology Risk</b>
	<br><span style="font-size: x-small">The white center region indicates that the model is not sure.</span>
	</center>
</div>
</div>

<div class="col-xs-8" style="">
	<div class="viewbox">
		<canvas class="layer inputimage_highres baselayer"></canvas>
		<canvas class="layer inputimage" style="display:none;"></canvas>
		<canvas class="layer inputimage_rec" style="display:none;"></canvas>
		<canvas class="layer recimage" style="display:none;"></canvas>
		<canvas class="layer oodimage" style="opacity: 0.5;display:none;"></canvas>
		<canvas class="layer gradimage" style="filter:blur(0.89rem)"></canvas>
		<center class="layer loading" style="display:none;margin-top:5%;width:100%;"><img style="width:400px;" alt="Loading..." src="res/loading1.gif"/></center>
	</div>
	<center><span class="desc"></span></center>
	</span>
	
	<center>
		<button style="display:none" type="button" class="oodtoggle btn btn-danger btn-xs">
		Show OOD heatmap
		</button>
	</center>
		
<!-- 			<center><div style="margin-top:40%;display:none" class="computegrads"></div></center> -->
	
</div>
<div class="col-xs-4 predviz">
<center class="loading"><img style="margin-top:40%;" alt="Loading..." src="https://i.imgur.com/yoS0cXm.gif"/></center>

<center>
<div class="predbox" style="width:100%">

</div>
</center>
</div>
</div>
<hr>
</div>
	</div>
</div>

<canvas id="zoom" width="100" height="50" style="width:400px; height:200px;position:absolute; top:0; left:0; display:none;image-rendering:pixelated"></canvas>

<script>
let statusElement;
let status;

$(function(){
	statusElement = document.getElementById('status');
	
	status = function(msg){statusElement.innerText = msg;console.log("Status: " + msg)};
});
</script>

</body>
</html>

