<%- include('./partial/_profileheader') %>

<body>
    <div class = "row">
    <div class = "col-md-3"></div>
	<div class="col-md-6">
		<div>
			<p>Xray Uploaded</p>
			<h4>Click predict to get the diagnosis</h4>

			<img id="xray-file" src="/uploads/xray.png" width="500" height="500">
        </div>
        <br>
        <br>
        <input type="button" value="Predict" class="btn btn-success" onclick="predict();">
        <input type="button" id = "explain" value="Explain" class="btn btn-success" onclick="location.href='/explain'">
        <br>
        <br>
        <h4 id="result"></h4>
        <br>
        <a href="/profile">Another Diagnosis?</a>
	</div>
      </div>
    <div class = "col-md-3"></div>
    </div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous">
    </script>
    <script src="./css/jquery.toast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
    <script type="text/javascript" src="predict.js"></script>
    <script>
    
    </script>
   



</footer>
</html>