<%- include ('./partial/_header.ejs') %>

	<script type="text/javascript">
		$(document).ready(() => {
			$("#form2").submit((event) => {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form2').serialize(),
					dataType: "json",
					success: (response) => {
						$('#form2')[0].reset();
						document.getElementById("check").innerHTML = response.Success;
						setTimeout(() => {
							document.getElementById("check").innerHTML = "";
						}, 4000);
						if (response.Success == "E-mail Sent! Enter OTP!") {
                            document.getElementById("oo").click();
						};
					},
					error: () => {
					}
				})
			});
		});
	</script>
</head>

<body>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Forgot Password?</p>
			<br>
			<h4>Enter email to get the password reset link</h4>
		</div>
		<div class="form-group">
			<form id="form2" method="post">
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br />
				<input type="submit" value="Submit" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/NTNdy9wdYE" id="oo"></a>
		</div>
		<div id="LangTable"><span>Go back to </span><a href="/">Register</a> or <a href="/login">Login</a>
		</div>
	</div>

</body>

</html>