<%- include('./partial/_header') %>
	<!--<title>Login Register App</title>-->

	<script type="text/javascript">
		$(document).ready(() => {

			$("#form1").submit((event) => {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: (response) => {
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(() => {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "You are regestered,You can login now.") {
							document.getElementById("aa").click();
						};
					},
					error: () => {
					}
				})
			});
		});
	</script>
</head>

<body>

	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
		    <p>Upload your x-rays to get an analysis.</p>
			<p>Register Now!
			</p>
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input type="text" name="email" placeholder="E-mail" required=""
				pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$" class="form-control"><br />
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="password" name="passwordConf" placeholder="Confirm Password" required=""
					class="form-control"><br />
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>

		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered? <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>
</body>
</html>