<%- include ('./partial/_header.ejs') %>

	<script type="text/javascript">
		$(document).ready(() => {
			$("#otpform").submit((event) => {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/NTNdy9wdYE',
					data: $('#otpform').serialize(),
					dataType: "json",
					success: (response) => {
						$('#otpform')[0].reset();
						document.getElementById("check").innerHTML = response.Success;
						setTimeout(() => {
							document.getElementById("check").innerHTML = "";
						}, 5000);
						if (response.Success == "OTP Correct!") {
                            document.getElementById("aa").click();
						};
					},
					error: () => {
					}
				})
			});
		});
	</script>
</head>

<body>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>An email has been sent to your account registered with us</p>
			<br>
			<h4>Kindly enter OTP to reset your password</h4>
		</div>
		<div class="form-group">
			<form id="otpform" method="post">
				<input type="text" name="otp" placeholder="OTP" required="" class="form-control"><br />
				<input type="submit" value="Verify" class="btn btn-success">
	        </form>
		</div>
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/Gpfx9W0sBD" id="aa"></a>
		</div>
	</div>

</body>

</html>